<%# SEARCH BUTTON %>
  <div class="container-fluid">
    <form class="d-flex search-btn">
      <input class="form-control me-2" type="search" placeholder="I'm looking for ..." aria-label="Search">
      <button class="btn btn-outline-secondary text-nowrap" type="submit">Find it!</button>
    </form>
  </div>
<%# SEARCH BUTTON %>
